<div class="alert alert-warning d-flex align-items-center" role="alert">
    <div>
        <div class="fw-bold p-1">
            ⚠️ Warning: Database Modification Alert ⚠️
        </div>
        <div class="p-1">
             Dear Admin,
        </div>
        <div class="p-1">
            This is a cautionary notice regarding the use of the UI for database management. Please be aware that when you modify or delete rows from a table, there is a CASCADE DELETE feature in place. This means that deleting a specific row may potentially remove related rows in other tables.
        </div>
        <div class="p-1">
            Exercise caution and double-check the consequences of your actions before proceeding. If you are uncertain about the impact of your changes, it is advisable to consult with the database administrator or review the database schema.
        </div>
        <div class="p-1">
            Remember: Changes made through the UI are immediate and irreversible. Make sure to take necessary precautions to avoid unintentional data loss.
        </div>
    </div>
</div>

@code {
    
}