@using AuctionApplication.Client.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json
@using System.Text.Json.Serialization
@using AuctionApplication.Shared
@inject AppStateService appState
@attribute [Authorize]
@page "/profile"

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@attribute [Authorize]
@inject HttpClient Http

@if (appState != null && appState.ToastMessage != null)
{
    <div class="d-flex justify-content-center alert alert-@appState.ToastType alert-dismissible fade show" role="alert">
        @appState.ToastMessage
        <button type="button" class="btn-close" @onclick="() => CloseAppState(appState)"></button>
    </div>
}

<h3 class="fw-bold mb-4">Your profile</h3>
<div class="container">
    <div class="row g-5">
        <div class="col-12 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title fw-bold mb-4">User information</h5>
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name" value="Name" required>
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name" value="Surname" required>
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email" value="Email" required>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <button class="btn-sm btn-outline-primary ms-2" type="submit">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="card shadow card-scale-sm">
                <div class="card-body">
                    <h5 class="card-title fw-bold mb-4">Auctions won</h5>
                    <table class="table table-hover align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Auction</th>
                                <th scope="col">Price</th>
                                <th scope="col">Paid</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (wins != null)
                        {
                            @foreach (var win in wins)
                            {
                                <tr>
                                    <td><a class="link-dark" href="/auction/detail/@win.AuctionId">@win.NameOfProduct</a></td>
                                    <td>@win.Value</td>
                                    @if (@win.State == PaymentState.New)
                                    {
                                        <td><i class="bi bi-x-circle icon-red"></i></td>
                                        <td><a class="btn btn-sm btn-warning button-round ms-2" type="submit" href="/auction/detail/@win.AuctionId/payment">Pay</a></td>
                                    }
                                    else
                                    {
                                        <td><i class="bi bi-check-circle icon-green"></i></td>
                                        <td></td>
                                    }
                                </tr>
                            }
                        }
                        else
                        {
                            <h6 class="mb-4">You haven't won anything yet!</h6>
                        }
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>


@code {
    private IList<WinsDto>? wins;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetAsync("/User/Wins");
            if (response.IsSuccessStatusCode)
            {
                var rawContent = await response.Content.ReadAsStringAsync();
                Console.WriteLine(rawContent);
                var contentStream = await response.Content.ReadAsStreamAsync();
                wins = await JsonSerializer.DeserializeAsync<IList<WinsDto>>(contentStream, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true, // Make property names case-insensitive
                    Converters = { new JsonStringEnumConverter() } // Handle enum serialization/deserialization
                });
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("CATCH");
            Console.WriteLine(ex);
        }
    }

    private void CloseAppState(AppStateService toast)
    {
        appState.ToastMessage = null;
        InvokeAsync(StateHasChanged);
    }
}
